.task-btn, .add-todo-btn, .priority-btn , .toggle-off, .toggle-on{
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: transform 0.1s ease;
  font-size: 15px;
}

.add-todo-btn{
  background-color: rgba(0, 0, 0, 0.579);
  color: white;
  margin-right: 8px;
}

.btn:hover, .toggle-off:hover, .toggle-on:hover{
  cursor: pointer;
}

.btn:active, .toggle-on:active, .toggle-off:active {
  transform: scale(0.92);
}


.section{
  box-shadow: 3px 3px rgba(0, 0, 0, 0.353);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: start;
  width: 100%;
  background-color:rgb(99, 177, 205);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0 15px;
}

.section-add-new{
  padding: 0 0 20px 0;
  gap: 10px;
}


form{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: start;
  gap: 10px;
}

.single-task-container{
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  gap: 12px;
  justify-items: start;
  align-items: center;
  margin: 15px 0;
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 10px 5px;
  max-width: 800px;
  width: 100%;
}


.priority-container, .complete-task-container{
  display: grid;
  grid-template-columns: max-content 3fr 2fr 1fr;
  gap: 8px;
  justify-content: start;
  align-items: center;
  margin: 15px 0;
  border: 1px solid lightblue;
  border-radius: 10px;
  padding: 10px 5px;
  width: 100%;
  max-width: 800px;
}


.btn-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 8px;
  
}


.task-btn{
  padding: 8px 7px; 
  font-size: 13px;

}

.title{
  font-size: 35px;
  color: rgb(0, 0, 0);
}


.js-date-input{
  width: 150px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
}

.js-date-input:hover{
  cursor: pointer;
}



.js-task-input{
  height: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 18px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 700px;
  box-sizing: border-box;
}

.js-task-input:focus{
  outline: none;
}

.toggle-on{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  
}

.toggle-off{
  color: black;
  background-color: white;
}

.task-name, .task-date{
  font-size: 20px;
  margin: 0;
  padding: 5px;
  
}

.js-date-input{
  width: 200px;
  height:25px;
  padding: 10px;
  font-size: 15px;
}

.js-date-input:focus{
  outline: none;
}

.icon{
  margin: 0;
  padding:0;
  height: 35px;
  font-size: 23px;
}



@media (max-width: 767px ) {

  .section{
    box-shadow: 2px 2px rgba(181, 226, 243, 0.353);
  }

  .single-task-container, .priority-container, .complete-task-container{
    gap: 8px;
    max-width: 400px;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px 35px;
  }

  .btn-container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    
  }

  .task-name, .task-date{
    font-size: 18px;
    padding: 2px;
    
  }

  .task-name{
    text-align: center;
  }

  .icon{
    height: 25px;
    font-size: 20px;
  }

  .task-btn{
    padding: 8px 13px; 
    font-size: 13px;

  }

  .js-task-input{
    max-width: 350px;
  }

  .js-date-input{
    width: 150px;
    height:20px;
    padding: 10px;
    font-size: 12px;
  }
  
}


@media (min-width: 768px) and (max-width: 1023px) {

  .section{
    box-shadow: 2px 2px rgba(181, 226, 243, 0.353);
  }

  .single-task-container, .priority-container, .complete-task-container{
    gap: 8px;
    max-width: 700px;
    min-width: 700px;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px 35px;
  }

  .btn-container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    
  }

  .task-name, .task-date{
    font-size: 18px;
    padding: 2px;
    
  }

  .task-name{
    text-align: center;
  }

  .icon{
    height: 25px;
    font-size: 20px;
  }

  .task-btn{
    padding: 5px;
    font-size: 15px;
    margin: 0;
  }

}
